/* Home.css */
.home-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .Name {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .Title
  {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .Greeting
  {
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    text-align: center;
    margin-top: 300px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
